/* 로그인 컨테이너 기본 스타일 */
.login-container {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 50px auto;
    height: 95vh;
    padding: 40px;
  }
  
  /* 로그인 폼 제목 스타일 */
  h1, h2 {
    color: #333;
    font-family: 'Arial', sans-serif;
  }

  h2 {
    margin-top: 20%;
  }
  .login-username-container {
    margin-top: 10%;
  }
  /* 폼 레이블 스타일 */
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
  }
  
  /* 입력 필드 기본 스타일 */
  input[type="text"], input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  /* 입력 필드 포커스 시 */
  input[type="text"]:focus, input[type="password"]:focus {
    border-color: #0056b3;
    outline: none;
  }
  
  /* 로그인 버튼 스타일 */
 .login-button {
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: #6B4EFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  

  
  /* 오류 메시지 스타일 */
  p {
    color: #d32f2f;
    font-size: 14px;
    text-align: center;
  }
  
  