/* Users.css */

.users-management-container {
    display: flex;
    overflow-x: hidden;
    width: 80%;
    margin-left: 20%;
    height: 140vh;
    justify-content: center;
  }
  .users-management-container-container {
    justify-items: center;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    border: 1px solid rgb(219, 221, 226);
  }  
  .users-container {
    width: 95%;
    height: 100%;
  }
  h1 {
    font-size: 40px;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
  }
  
  /* 검색 박스 스타일 */
  .users-search-box {
    margin-top: 10%;
    text-align: left;
    display: flex;
  }
  .users-search-box input[type="text"] {
    height: 42px;
    width: 40%;
  }
  .users-search-box input:focus {
    border-color: #ccc;
  }
  .search-category {
    width: 10%;
    height: 10%;
    padding:10px;
    font-size: 22px;
  }
  
  
  /* 테이블 스타일 */
  .users-table {
    width: 1000px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .users-table td {
    background-color: #fff;
    text-align: center; /* 가로 정렬 */
    vertical-align: middle; /* 세로 정렬 */
    word-wrap: break-word; /* 텍스트가 너무 길면 줄바꿈 */
}
  .users-table th,
  .users-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    justify-items: center;
  }
  
  .users-table th {
    background-color: #6B4EFF;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-align: center;
    width: 10%;
  }
  
  .users-table td {
    background-color: #fff;
    font-size: 1rem;
  }
  /* 버튼 스타일 */
  .actions-btns-users {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 60px;
    height: 30%;
  }
  
  .approve-btn-users, .reject-btn-users, .delete-btn-users {  
    font-size: 20px;  
    cursor: pointer;
    padding: 0px;
  }
  .approve-btn-users {
    color: green;
  }
  .reject-btn-users {
    color: orange;
  }
  .delete-btn-users {
    color: red;
  }
  .users-table-shippinginfo {
    justify-self: center;
    align-self: center;
    padding: 10px 20px;  /* 패딩 조정으로 버튼 크기 감소 */
    font-size: 12px;    /* 폰트 크기를 작게 설정 */
    border: 1px solid #ccc;  /* 테두리 설정 */
    background-color: #f8f8f8;  /* 배경색 설정 */
    color: #333;  /* 글자색 설정 */
    border-radius: 5px;  /* 테두리 둥글게 처리 */
    cursor: pointer;  /* 커서를 포인터로 설정 */
}
  
  
  @media (max-width: 900px) {
    .users-management-container {
      width: 100%;
      margin-left: 0;
      height: 100%;
    }
  
    .users-management-container-container {
      max-width: 100%;
      padding-left: 2%;
      padding-right: 2%;
      height: 140vh;
    }
    .users-top-container-container {
      width: 100%;
    }
  
    .users-container {
      width: 100%;
    }
  
    .users-search-box {
      margin-top: 10%;

      flex-direction: column; /* 검색 필드를 수직으로 정렬 */
    }
  
    .users-role-select {
      width: auto;
      font-size: 0.4rem;
    }
    .users-search-box input[type="text"] {
      
      width: 100%; /* 전체 너비 사용 */
      margin-bottom: 2%; /* 입력 필드 아래 간격 추가 */
    }
  
    .search-category {
      width: 100%; /* 전체 너비 사용 */
      margin-right: 0; /* 우측 여백 제거 */
    }
  
    .search-button {
      width: 100%; /* 전체 너비 사용 */
    }
  
    .users-table {
      width: 100%; /* 테이블 전체 너비 사용 */
    }
  
    .users-table th {
      padding: 5px;
      font-size: 0.4rem;
    }
    .users-table td {
      padding: 5px; /* 패딩 감소 */
      font-size: 0.5rem; /* 폰트 크기 감소 */
      text-align: center;
    }
  
    .actions-btns-users {
      gap: 5px; /* 버튼 간 간격 감소 */
      flex-direction: row;
      justify-content: center;
    }
  
    .approve-btn-users, .reject-btn-users, .delete-btn-users {
      font-size: 12px; /* 아이콘 크기 감소 */
    }
    
    .users-table th:nth-child(1),
    .users-table td:nth-child(1) {
     width: 3%;
    }
    .users-table th:nth-child(2),
    .users-table td:nth-child(2) {
     width: 8%;
    }
    .users-table th:nth-child(3),
    .users-table td:nth-child(3) {
     width: 6%;
    }
    .users-table th:nth-child(4),
    .users-table td:nth-child(4) {
     width: 12%;
    }
    .users-table-shippinginfo {
      padding: 2px 5px;  /* 패딩 조정으로 버튼 크기 감소 */
      font-size: 8px;    /* 폰트 크기를 작게 설정 */
      border: 1px solid #ccc;  /* 테두리 설정 */
      background-color: #f8f8f8;  /* 배경색 설정 */
      color: #333;  /* 글자색 설정 */
      border-radius: 5px;  /* 테두리 둥글게 처리 */
      cursor: pointer;  /* 커서를 포인터로 설정 */
  }
  
   
  }
  