
.product-management-container {
    display: flex;
    overflow-x: hidden;
    width: 80%;
    margin-left: 20%;
    height: 120vh;
    overflow-y: hidden;
    justify-content: center;
  }
  .product-management-container-container {
    justify-items: center;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    border: 1px solid rgb(219, 221, 226);
  }  
  .product-container {
    width: 95%;
    height: 100%;
  }
  h1 {
    font-size: 40px;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
  }
  
  /* 검색 박스 스타일 */
  .product-search-box {
    margin-top: 10%;
    text-align: left;
    display: flex;
  }
  
  .product-search-box input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .product-search-box input:focus {
    border-color: #007bff;
  }
  .search-category {
    width: 10%;
    padding: 10px;
    font-size: 15px;
    margin-right: 2%;
  }
  .search-button {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease background-color;
  }
  .search-button:hover {
    background-color: rgb(191, 189, 189);
  }
  
  /* 테이블 스타일 */
  .product-table {
    width: 1000px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .product-table th:nth-child(1),
.product-table td:nth-child(1) {
    width: 5% ; /* 번호 칸의 너비를 줄이기 */
}
.product-table th:nth-child(4),
.product-table td:nth-child(4) {
    width: 5% ; /* 번호 칸의 너비를 줄이기 */
}
.product-table th:nth-child(5),
.product-table td:nth-child(5) {
    width: 7% ; /* 번호 칸의 너비를 줄이기 */
}

.product-table th:nth-child(6),
.product-table td:nth-child(6) {
    width: 5% ; /* 번호 칸의 너비를 줄이기 */
}
.product-table th:nth-child(7),
.product-table td:nth-child(7) {
    width: 5% ; /* 번호 칸의 너비를 줄이기 */
}

  .product-table td {
    background-color: #fff;
    text-align: center; /* 가로 정렬 */
    vertical-align: middle; /* 세로 정렬 */
    word-wrap: break-word; /* 텍스트가 너무 길면 줄바꿈 */
  }
  .product-table th,
  .product-table td {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  
  .product-table th {
    background-color: #6B4EFF;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    width: 10%;
  }
  
  .product-table td {
    background-color: #fff;
    font-size: 1rem;
  }
  /* 버튼 스타일 */
  .actions-btns {
    display: flex;
    gap: 10px;
    width: 60px;
    height: 30%;
  }
  
  .approve-btn, .reject-btn, .delete-btn {  
    font-size: 20px;  
    cursor: pointer;
    padding: 0px;
  }
  .approve-btn {
    color: green;
  }
  .reject-btn {
    color: orange;
  }
  .delete-btn {
    color: red;
  }
  
  .pagination-container {
    margin-top: 5%;
    justify-self: center;
    display: flex;
    cursor: pointer;
  }
  .pagination span {
  }
  
  .product-title {
    color: blue;
    cursor: pointer;
  
  }
  .product-title:hover {
    color: orange;
    
  }
  .size-stock {
    display: flex;
    gap: 10px; /* 사이즈 간 간격 */
    flex-wrap: wrap; /* 화면 크기에 맞춰 감싸지도록 */
    justify-content: center;
  }
  
  .size-item {
    padding: 5px 5px;
  }

  
  