/*
.coupon-management-container {
    display: flex;
    overflow-x: hidden;
    width: 80%;
    margin-left: 20%;
    height: 120vh;
    overflow-y: hidden;
    justify-content: center;
  }
  
  .coupon-management-container-container {
    justify-items: center;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    border: 1px solid rgb(219, 221, 226);
  }
  
  .coupon-container {
    width: 95%;
    height: 100%;
  }
  
  h1 {
    font-size: 40px;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .coupon-search-box {
    margin-top: 10%;
    text-align: left;
    display: flex;
  }
  
  .coupon-search-box input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .coupon-search-box input:focus {
    border-color: #007bff;
  }
  
  .search-category {
    width: 10%;
    padding: 10px;
    font-size: 15px;
    margin-right: 2%;
  }
  
  .search-button {
    width: 10%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease background-color;
  }
  
  .search-button:hover {
    background-color: rgb(191, 189, 189);
  }
  
  .coupon-table {
    width: 1000px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .coupon-table th:nth-child(1),
  .coupon-table td:nth-child(1) {
    width: 5%;
  }
  .coupon-table th:nth-child(4),
  .coupon-table td:nth-child(4) {
    width: 5%;
  }
  .coupon-table th:nth-child(5),
  .coupon-table td:nth-child(5) {
    width: 7%;
  }
  
  .coupon-table th:nth-child(6),
  .coupon-table td:nth-child(6) {
    width: 5%;
  }
  .coupon-table th:nth-child(7),
  .coupon-table td:nth-child(7) {
    width: 5%;
  }
  
  .coupon-table td {
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
  }
  
  .coupon-table th,
  .coupon-table td {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  
  .coupon-table th {
    background-color: #6B4EFF;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    width: 10%;
  }
  
  .coupon-table td {
    background-color: #fff;
    font-size: 1rem;
  }
  
  .prev-page-btn, 
  .next-page-btn {
    border: none;
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
  }
    
  

  
  
  
  .prev-page-btn:hover, 
  .next-page-btn:hover {
    border: none;
    background-color: white;
    color: #013872;
    cursor: pointer;
  }
  
  
  
  .write-btn-container {
    width: 100%;
    height: 50px;
  }
  
  .write-btn {
    margin-top: 10%;
    width: 30%;
    height: 100%;
    cursor: pointer;
    background-color: #000;
    color: white;
    border: none;
  }
  
  
  .coupon-title:hover {
    color: orange;
  }
  
  .size-stock {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .size-item {
    padding: 5px 5px;
  }
  .action-buttons {
    justify-content: center;
    display: flex;
    gap: 10px;
  }
  
  @media (max-width: 900px) {
  
    .coupon-management-container {
        width: 100%;
        height: 100vh;
      overflow-x: hidden;
      margin-left: 0%;
        flex-direction: column;
    }
    .coupon-management-container-container {
      max-width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      height: 100%;
      background-color: white;
      border: 1px solid rgb(219, 221, 226);
    }
    .coupon-search-box {
        margin-top: 1%;
      
        flex-direction: column;
        align-items: flex-start;
    }
  
    .coupon-search-box input {
      margin-top: 10%;
        width: 100%;
        margin-bottom: 10px;
    }
  
   .search-button {
        width: 10%;
        margin-right: 0;
        margin-bottom: 10px;
    }
  
    .coupon-table {
        width: 100%;
        font-size: 0.6rem;
        overflow-x: auto;
    }
  
    .coupon-table th,
    .coupon-table td {
        padding: 2.2px;
        font-size: 0.5rem;
    }
  
   
   
  
  
    .write-btn {
        width: 100%;
        font-size: 14px;
    }
  
    .write-btn-container {
      margin-top: 20px;
      height: 60px;
    }
    .action-buttons {
      justify-content: center;
      display: flex;
      gap: 2px;
    }
    .approve-btn, .reject-btn, .delete-btn {
      width: 20%;
      height: 20%;
    }
  }
    */
  
  